PORT=3000
PAYPAL_CLIENT_ID=BAAGzXCZncFT6EE2MtBDQzs-VIHJnr0AjVrFzM2bMc08EyBDkRq9gxywXToh_dhanfpEfuV673RlJieBbE
PAYPAL_CLIENT_SECRET=EN-627CnzucfhTz83Yynv3vP4BzMXCoIEsWi6uVnmhtRgIPDu4wNZt2LeVnb3Vh_9E4I2qQdsDkEcLsu
# Gunakan API base yang sesuai mode kredensial:
# sandbox: https://api-m.sandbox.paypal.com
# live:    https://api-m.paypal.com
PAYPAL_API_BASE=https://api-m.paypal.com
PAYPAL_INVOICER_BUSINESS_NAME=MICROSOFT
